.cajaLogin {
  display: flex;
  flex-direction: column;
  padding: 40px 32px 32px;
  margin: auto;
  gap: 20px;
  width: 45%;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}

.titulo {
  height: 32px;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.usuario {
  width: 100%;
  height: 20px;
  font-weight: 400;
  font-size: 14px;
}

.contrasena {
  width: 100%;
  height: 20px;
  font-weight: 400;
  font-size: 14px;
}

.recordarContrasena {
  font-size: 14px;
  text-align: center;
  color: var(--color-primary);
}

.border {
  width: 100%;
  border: 1px solid var(--color-grey3);
}
