@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --color-primary: #a442f1;
  --color-secondary: #cc6aff;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey2: #f0f0f0;
  --color-grey3: #e1e1e1;
  --color-grey4: #c8c8c8;
  --color-grey5: #afafaf;
  --color-grey6: #8c8c8c;
  --color-grey7: #6e6e6e;
  --color-success: #00a541;
  --color-error: #e53939;
  --color-shadow: rgba(0, 0, 0, 0.24);

  --transition: all 400ms ease;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-white);
  color: var(--color-black);
  margin-top: 36px;
  justify-content: center;
}

/* ========== UTILS ========== */

.w50 {
  width: 50%;
}

.w100 {
  width: 100%;
}

/* ========== FORM ========== */

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 40px 32px;
  position: absolute;
  gap: 16px;
  width: 878px;
  margin: auto;
  left: 0;
  right: 0;
  top: 160px;
  background: var(--color-white);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

.form-input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 2px;
  height: 66px;
}

.form-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 100%;
  height: 66px;
}

.form-label {
  height: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.form-title {
  height: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  font-feature-settings: "zero" on;
}

/* ========== BUTTONS ========== */

.btn-primary {
  background-color: var(--color-primary);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 4px;
  color: var(--color-white);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  transition: var(--transition);
}

.btn-primary:hover {
  background-color: var(--color-secondary);
}

.btn-primary:active {
  background-color: var(--color-secondary);
  box-shadow: inset 0px 0px 8px var(--color-shadow);
  border-radius: 8px;
}

.btn-primary:disabled {
  background-color: var(--color-grey3);
  color: var(--color-grey6);
  cursor: not-allowed;
}

.btn-secondary {
  background-color: var(--color-primary);
  border-radius: 8px;
  opacity: 10%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 4px;
  color: var(--color-primary);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  transition: var(--transition);
}

.btn-secondary:hover {
  opacity: 20%;
}

.btn-secondary:active {
  opacity: 20%;
  box-shadow: inset 0px 0px 8px var(--color-shadow);
}

.btn-secondary:disabled {
  background-color: var(--color-grey3);
  color: var(--color-grey6);
  cursor: not-allowed;
}

.btn-tertiary {
  background-color: var(--color-grey1);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 4px;
  color: var(--color-primary);
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  transition: var(--transition);
}

.btn-tertiary:hover {
  background-color: var(--color-grey2);
}

.btn-tertiary:active {
  background-color: var(--color-grey2);
  box-shadow: inset 0px 0px 8px var(--color-shadow);
}

.btn-tertiary:disabled {
  background-color: var(--color-grey3);
  color: var(--color-grey6);
  cursor: not-allowed;
}

/* ========== LINKS ========== */

.link {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  transition: var(--transition);
}

.link:hover {
  color: var(--color-secondary);
}

.link:active {
  color: var(--color-primary);
}

.link:disabled {
  color: var(--color-grey6);
  cursor: not-allowed;
}

/* ========== INPUTS ========== */

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 8px 12px 12px;
  gap: 8px;
  height: 44px;
  background: var(--color-white);
  border: 1px solid var(--color-grey3);
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-grey5);
}

.input:hover {
  border: 1px solid var(--color-grey5);
  color: var(--color-grey7);
}

.input:active {
  border: 1px solid var(--color-primary);
  font-weight: 500;
  color: var(--color-black);
}

.input.focus {
  font-weight: 500;
  color: var(--color-black);
}

.placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-black);
}

.caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-grey6);
}
