@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-primary: #a442f1;
  --color-secondary: #cc6aff;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-grey3: #e1e1e1;
  --color-grey4: #C8C8C8;
  --color-grey6: #8c8c8c;
  --color-success: #00A541;
  --color-error: #E53939; 

  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--color-white);
  color: var(--color-black);
  margin-top: 36px;
}