.cajaRegister{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 32px;
gap: 20px;
position: absolute;
width: 580px;
height: 622px;
left: calc(50% - 580px/2);
top: 84px;
background: #FFFFFF;
box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.12);
border-radius: 12px;
}

.titulo{
width: 516px;
height: 32px;
font-weight: 600;
font-size: 24px;
line-height: 32px;
text-align: center;
font-feature-settings: 'zero' on;
color: #000000;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.botonAtras{
    /* Txt */


width: 492px;
height: 16px;

/* Semibold · 14 · 16 */

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

display: flex;
align-items: center;
font-feature-settings: 'zero' on;

/* Principal */

color: #A442F1;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 1;
}
.cajaInputs{
    /* Inputs */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 12px;

width: 516px;
height: 338px;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.subTitulo{
/* Título */


width: 250px;
height: 20px;

/* Regular · 14 · 20 */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

display: flex;
align-items: center;

/* Black */

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;


}

.inputChico{
/* Input Desktop 1 */


box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 12px 8px 12px 12px;
gap: 8px;

width: 250px;
height: 44px;

/* White */

background: #FFFFFF;
/* Grey 3 */

border: 1px solid #E1E1E1;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


}